<ion-content>
  <ion-header>
    <div id="title">
      <b>Caipirinha</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://assets.epicurious.com/photos/579a2d8e437fcffe02f7230b/master/pass/caipirinha-072816.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 1 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1 lime (cut into wedges)</h3>
        <h3>- 2 tsp sugar</h3>
        <h3>- 2 oz cachaça</h3>
        <h3>- lime wheel (garnish)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. In a double Old Fashioned glass, muddle the sugar<br>&nbsp;&nbsp;&nbsp;&nbsp;and lime.</h3>
        <h3>2. Fill with ice, add the cachaça, and stir briefly.</h3>
        <h3>3. Garnish with a lime wheel.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="button">
    <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
    <ion-button expand="block">Add to Favorites</ion-button>
  </div>
</ion-content>