<ion-content>
  <ion-header>
    <div id="title">
      <b>Split Pea Soup</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190319-split-pea-soup-138-1553791829.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 5-6 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1 cup chopped yellow onions</h3>
        <h3>- 2 cloves garlic (minced)</h3>
        <h3>- 0.125 cup good olive oil</h3>
        <h3>- 0.5 tsp dried oregano</h3>
        <h3>- 1.5 tsp kosher salt</h3>
        <h3>- 1 tsp freshly ground black pepper</h3>
        <h3>- 2 cups medium-diced carrots (3 to 4 carrots)</h3>
        <h3>- 1 cup medium-diced red boiling unpeeled potatoes<br>&nbsp;&nbsp;(3 small)</h3>
        <h3>- 1 lbs dried split green peas</h3>
        <h3>- 8 cups chicken stock or water</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. In a 4-quart stockpot on medium heat, saute the<br>&nbsp;&nbsp;&nbsp;&nbsp;onions and garlic with the olive oil, oregano, salt,<br>&nbsp;&nbsp;&nbsp;&nbsp;and pepper until the onions are translucent.</h3>
        <h3>2. Add carrots, potatoes, 0.5 lbs of split peas,<br>&nbsp;&nbsp;&nbsp;&nbsp;and chicken stock.</h3>
        <h3>3. Bring to boil, then simmer uncovered for 40<br>&nbsp;&nbsp;&nbsp;&nbsp;minutes.</h3>
        <h3>4. Skim off the foam while cooking.</h3>
        <h3>5. Add the remaining split peas and continue to<br>&nbsp;&nbsp;&nbsp;&nbsp;simmer for another 40 minutes.</h3>
        <h3>6. Stir frequently to keep the solids from burning on<br>&nbsp;&nbsp;&nbsp;&nbsp;the bottom.</h3>
        <h3>7. Taste for salt and pepper.</h3>
        <h3>8. Serve hot.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
  <ion-button expand="block">Add to Favorites</ion-button>
</ion-content>