<ion-content>
  <ion-header>
    <div id="title">
      <b>Panna Cotta</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://img.taste.com.au/2dGXg6r2/taste/2016/11/vanilla-bean-panna-cotta-104789-1.jpeg">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 6 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 0.5 cup skim milk</h3>
        <h3>- 0.25 oz unflavored gelatin</h3>
        <h3>- 2.5 cups heavy cream</h3>
        <h3>- 0.5 cup white sugar</h3>
        <h3>- 1.5 tsp vanilla extract</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Pour milk into a small bowl, and stir in the gelatin<br>&nbsp;&nbsp;&nbsp;&nbsp;powder. Set aside.</h3>
        <h3>2. In a saucepan, stir together the heavy cream and<br>&nbsp;&nbsp;&nbsp;&nbsp;sugar, and set over medium heat. Bring to a full<br>&nbsp;&nbsp;&nbsp;&nbsp;boil, watching carefully, as the cream will quickly<br>&nbsp;&nbsp;&nbsp;&nbsp;rise to the top of the pan. Pour the gelatin and<br>&nbsp;&nbsp;&nbsp;&nbsp;milk into the cream, stirring until completely<br>&nbsp;&nbsp;&nbsp;&nbsp;dissolved. Cook for one minute, stirring<br>&nbsp;&nbsp;&nbsp;&nbsp;constantly. Remove from heat, stir in the vanilla<br>&nbsp;&nbsp;&nbsp;&nbsp;and pour into six individual ramekin dishes.</h3>
        <h3>3. Cool the ramekins uncovered at room temperature.<br>&nbsp;&nbsp;&nbsp;&nbsp;When cool, cover with plastic wrap, and<br>&nbsp;&nbsp;&nbsp;&nbsp;refrigerate for at least 4 hours, but preferably<br>&nbsp;&nbsp;&nbsp;&nbsp;overnight before serving.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>