<ion-content>
  <ion-header>
    <div id="title">
      <b>Kung Pao Chicken</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://www.pfchangs.com/images/default-source/menu/kung-pao-chicken.jpg?sfvrsn=cc0cfc35_4">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 2-3 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1 lbs boneless skinless chicken breast halves</h3>
        <h3>- 2 tbsp white wine</h3>
        <h3>- 2 tbsp soy sauce</h3>
        <h3>- 2 tbsp sesame oil (divided)</h3>
        <h3>- 2 tbsp dissolved cornstarch</h3>
        <h3>- 1 oz hot chile paste</h3>
        <h3>- 1 tsp distilled white vinegar</h3>
        <h3>- 2 tsp brown sugar</h3>
        <h3>- 4 green onions (chopped)</h3>
        <h3>- 1 tbsp chopped garlic</h3>
        <h3>- 8 oz water chesnuts</h3>
        <h3>- 4 oz chopped peanuts</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. To make marinade: Combine 1 tbsp wine, tbsp soy<br>&nbsp;&nbsp;&nbsp;&nbsp;sauce, 1 tbsp oil and tbsp cornstarch mixture and<br>&nbsp;&nbsp;&nbsp;&nbsp;mix together. Place chicken pieces in a glass dish<br>&nbsp;&nbsp;&nbsp;&nbsp;or bowl and add marinade. Toss to coat. Cover<br>&nbsp;&nbsp;&nbsp;&nbsp;dish and place in refrigerator for about 30 minutes.</h3>
        <h3>2. To make sauce: In a small bowl, combine 1 tbsp<br>&nbsp;&nbsp;&nbsp;&nbsp;wine, 1 tbsp soy sauce, 1 tbsp oil, 1 tbsp corstarch<br>&nbsp;&nbsp;&nbsp;&nbsp;mixture, chili paste, vinegar and sugar. Mix<br>&nbsp;&nbsp;&nbsp;&nbsp;together and add green onion, garlic, water<br>&nbsp;&nbsp;&nbsp;&nbsp;chesnuts and peanuts. In a medium skillet, heat<br>&nbsp;&nbsp;&nbsp;&nbsp;sauce slowly until aromatic.</h3>
        <h3>3. Meanwhile, remove chicken from marinade and<br>&nbsp;&nbsp;&nbsp;&nbsp;saute in a large skillet until meat is white and juices<br>&nbsp;&nbsp;&nbsp;&nbsp;run clear. When sauce is aromatic, add sauteed<br>&nbsp;&nbsp;&nbsp;&nbsp;chicken to it and let simmer together until sauce<br>&nbsp;&nbsp;&nbsp;&nbsp;thickens.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>