<ion-content>
  <ion-header>
    <div id="title">
      <b>Mai Tai</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1687,w_3000,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1550802943/190220-Rothbaum-Mai-Tai-cocktail-tease_1_agwro6">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 1-2 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1.5 fluid oz jigger spice rum</h3>
        <h3>- 1.5 fluid oz jigger coconut-flavored rum</h3>
        <h3>- 1 tsp grenadine syrup</h3>
        <h3>- 3 fluid oz pineapple juice</h3>
        <h3>- 2 fluid oz orange juice</h3>
        <h3>- 1 cup ice cubes</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. In a cocktail mixer full of ice, combine the spiced<br>&nbsp;&nbsp;&nbsp;&nbsp;rum, coconut rum, grenadine, pineapple juice and<br>&nbsp;&nbsp;&nbsp;&nbsp;orange juice. Shake vigorously and strain into<br>&nbsp;&nbsp;&nbsp;&nbsp;glass full of ice.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="button">
    <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
    <ion-button expand="block">Add to Favorites</ion-button>
  </div>
</ion-content>