<ion-content>
  <ion-header>
    <div id="title">
      <b>Chicken Teriyaki</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://hips.hearstapps.com/delish/assets/17/26/1498598755-teriyaki-chicken.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 3-4 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1.25 lbs boneless skinless chicken breast (diced)</h3>
        <h3>- 1 tbsp olive oil</h3>
        <h3>- 0.25 cup low-sodium soy sauce</h3>
        <h3>- 0.25 cup water</h3>
        <h3>- 2 tbsp honey</h3>
        <h3>- 1.5 tbsp packed light brown sugar</h3>
        <h3>- 1 tbsp rice vinegar</h3>
        <h3>- 0.25 tsp toasted sesame oil</h3>
        <h3>- 2 tsp peeled and minced fresh ginger</h3>
        <h3>- 2 tsp peeled and minced fresh garlic (2 cloves)</h3>
        <h3>- 2 tsp cornstarch</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Heat olive oil in a 12-inch non-stick skillet<br>&nbsp;&nbsp;&nbsp;&nbsp;over medium high heat.</h3>
        <h3>2. Add in chicken and let brown on buttom about 3-4<br>&nbsp;&nbsp;&nbsp;&nbsp;minutes then flip and continue to cook until center<br>&nbsp;&nbsp;&nbsp;&nbsp;registers about 160 degress.</h3>
        <h3>3. While chicken is cooking, in a small mixing bowl<br>&nbsp;&nbsp;&nbsp;&nbsp;whisk together soy sauce, water, honey, brown<br>&nbsp;&nbsp;&nbsp;&nbsp;sugar, rice vinegar, sesame oil, ginger, garlic, and<br>&nbsp;&nbsp;&nbsp;&nbsp;cornstarch.</h3>
        <h3>4. Stir the sauce in with the cooked chicken and<br>&nbsp;&nbsp;&nbsp;&nbsp;continue to cook and toss until sauce has<br>&nbsp;&nbsp;&nbsp;&nbsp;thickened.</h3>
        <h3>5. Serve warm garnished with green onions.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>