<ion-content>
  <ion-header>
    <div id="title">
      <b>Beef Quiche</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://asset.kompas.com/crops/WYz5xv66j1-WrINc-3tJQMe5wbQ=/0x0:739x493/750x500/data/photo/2020/02/29/5e5a361d5d3f7.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 6 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 250g minced beef</h3>
        <h3>- 1 onion (mediumly diced)</h3>
        <h3>- 1 tbsp oil</h3>
        <h3>- 0.5 tsp salt</h3>
        <h3>- 0.5 tsp dried oregano</h3>
        <h3>- 0.5 tsp garlic powder</h3>
        <h3>- 0.25 tsp ground black pepper</h3>
        <h3>- 3 eggs</h3>
        <h3>- 0.5 cup milk</h3>
        <h3>- 0.5 cup mayonnaise</h3>
        <h3>- 1 cup cheddar cheese (grated)</h3>
        <h3>- 1 cup Swiss cheese (grated</h3>
        <h3>- 1 sheet uncooked puff pastry</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Heat the oil in a frypan. Cook the minced beef and<br>&nbsp;&nbsp;&nbsp;&nbsp;onion until the beef is browned and the onion is<br>&nbsp;&nbsp;&nbsp;&nbsp;soft. Remove from the heat.</h3>
        <h3>2. Stir in the salt, oregano, garlic powder and pepper.</h3>
        <h3>3. In a bowl, beat the eggs, milk and mayonnaise<br>&nbsp;&nbsp;&nbsp;&nbsp;together, then stir into the meat mixture. Fold in the<br>&nbsp;&nbsp;&nbsp;&nbsp;cheeses.</h3>
        <h3>4. Line a lightly greased 23cm pie plate with the<br>&nbsp;&nbsp;&nbsp;&nbsp;sheet of puff pastry. Pour in the mince mixture.</h3>
        <h3>5. Bake uncovered at 190 degrees C for 40-45<br>&nbsp;&nbsp;&nbsp;&nbsp;minutes, or until it is golden and puffed in the<br>&nbsp;&nbsp;&nbsp;&nbsp;centre.</h3>
        <h3>6. Rest for 5 minutes before cutting.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
  <ion-button expand="block">Add to Favorites</ion-button>
</ion-content>