<ion-content>
  <ion-header>
    <div id="title">
      <b>Mint Julep</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://cdn-image.realsimple.com/sites/default/files/styles/video_image_1/public/mint-julep-recipe.jpg?itok=vymgwJF3">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 1 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 0.25 oz simple syrup</h3>
        <h3>- 8 mint leaves</h3>
        <h3>- 2 oz bourbon</h3>
        <h3>- bitters (garnish)</h3>
        <h3>- mint sprig (garnish)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. In a Julep cup or rocks glass, lightly muddle the mint<br>&nbsp;&nbsp;&nbsp;&nbsp;and syrup.</h3>
        <h3>2. Add the bourbon and pack tightly with crushed ice.</h3>
        <h3>3. Stir until the cup is frosted on the outside.</h3>
        <h3>4. Top with more crushed ice to form an ice dome and<br>&nbsp;&nbsp;&nbsp;&nbsp;garnish with a mint sprig and a few optional drops of<br>&nbsp;&nbsp;&nbsp;&nbsp;bitters.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="button">
    <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
    <ion-button expand="block">Add to Favorites</ion-button>
  </div>
</ion-content>