<ion-content>
  <ion-header>
    <div id="title">
      <b>Calzone</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://food-images.files.bbci.co.uk/food/recipes/calzone_pizza_11861_16x9.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 2 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3><b>For the dough:</b></h3>
        <h3>- 250g plain flour</h3>
        <h3>- 2 tsp baking powder</h3>
        <h3>- large pinch salt</h3>
        <h3>- 2 large free-range eggs (beaten)</h3>
        <h3>- 2 tbsp sunflower oil<br><br></h3>
        <h3><b>For the filling:</b></h3>
        <h3>- 50g mozzarella (grated or torn)</h3>
        <h3>- 400g tin chopped tomatoes (cooked in saucepan<br>&nbsp;&nbsp;until reduced in half)</h3>
        <h3>- 4 stalks sprouting broccoli (chopped)</h3>
        <h3>- 0.5 onion (sliced)</h3>
        <h3>- 50g cheddar (grated)</h3>
        <h3>- 2 rashers bacon (cooked and chopped)</h3>
        <h3>- 1 garlic clove (finely chopped)</h3>
        <h3>- 2 tbsp fresh herbs, or 1 tsp dried herbs of your<br>&nbsp;&nbsp;choice (such as basil, oregano, or parsley)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. For the dough, put all the ingredients in a large<br>&nbsp;&nbsp;&nbsp;&nbsp;bowl and mix together, add 4-6 tbsp water,<br>&nbsp;&nbsp;&nbsp;&nbsp;one tbsp at a time, until the dough comes together.</h3>
        <h3>2. On a floured work surface roll out the dough into<br>&nbsp;&nbsp;&nbsp;&nbsp;two circles, roughly the same size.</h3>
        <h3>3. Preheat the oven to 220C/200C Fan/Gas 6.<br>&nbsp;&nbsp;&nbsp;&nbsp;Place a baking tray or pizza stone in the oven to<br>&nbsp;&nbsp;&nbsp;&nbsp;heat up.</h3>
        <h3>4. Mix all the fillings ingredients together and<br>&nbsp;&nbsp;&nbsp;&nbsp;divide in half. Each half on one side of each<br>&nbsp;&nbsp;&nbsp;&nbsp;circle of dough and fold the dough over to create a<br>&nbsp;&nbsp;&nbsp;&nbsp;pastry shape. Seal the edge using your fingers or<br>&nbsp;&nbsp;&nbsp;&nbsp;a fork.</h3>
        <h3>5. Place the calzones on baking paper and carefully<br>&nbsp;&nbsp;&nbsp;&nbsp;transfer to the preheated baking tray or pizza stone.<br>&nbsp;&nbsp;&nbsp;&nbsp;Cook for 15-20 minutes, or until the dough is crisp<br>&nbsp;&nbsp;&nbsp;&nbsp;and browned.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>