<ion-content padding class="bg-class">
  <ion-header>Welcome!</ion-header>
  <div id="input">
    <ion-input type="email" placeholder="  Email"></ion-input>
  </div>
  <div id="input">
    <ion-input type="password" placeholder="  Password"></ion-input>
  </div>
  <div id="button">
    <ion-button expand="block" (click)="tab1()">Login</ion-button>
  </div>
  <div id="register">
    <ion-button expand="block" (click)="register()">Register</ion-button>
  </div>
  <ion-text>--------------------------------- OR ----------------------------------</ion-text>
  <div id="facebook">
    <ion-button expand="block">Login with Facebook</ion-button>
  </div>
</ion-content>