<ion-content>
  <div id="search">
    <ion-searchbar placeholder="What are you looking for?" showCancelButton="always"></ion-searchbar>
  </div>
    <ion-card (click)="beefQuiche()">
      <img src="https://asset.kompas.com/crops/WYz5xv66j1-WrINc-3tJQMe5wbQ=/0x0:739x493/750x500/data/photo/2020/02/29/5e5a361d5d3f7.jpg" />
      <ion-card-header>
        <ion-text>
          <div id="cardContent">
            <b>Beef Quiche</b>
          </div>
        </ion-text>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="chocolateChipCookie()">
      <img src="https://www.kingarthurbaking.com/sites/default/files/recipe_legacy/6-3-large.jpg" />
      <ion-card-header>
        <ion-text>
          <div id="cardContent">
            <b>Chocolate Chip Cookie</b>
          </div>
        </ion-text>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="bloodyMary()">
      <img src="https://img.taste.com.au/Ag49zNa_/taste/2019/09/tokyo-bloody-mary-152754-1.jpg" />
      <ion-card-header>
        <ion-text>
          <div id="cardContent">
            <b>Bloody Mary</b>
          </div>
        </ion-text>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="cosmopolitan()">
      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/fresh-home-made-cosmopolitan-cosmo-cocktails-royalty-free-image-1581775159.jpg" />
      <ion-card-header>
        <ion-text>
          <div id="cardContent">
            <b>Cosmopolitan</b>
          </div>
        </ion-text>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="calzone()">
      <img src="https://food-images.files.bbci.co.uk/food/recipes/calzone_pizza_11861_16x9.jpg" />
      <ion-card-header>
        <ion-text>
          <div id="cardContent">
            <b>Calzone</b>
          </div>
        </ion-text>
      </ion-card-header>
    </ion-card>
</ion-content>