<ion-content>
  <ion-header>
    <div id="title">
      <b>Pancakes</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://d2dqksvx8j00ig.cloudfront.net/JFront/Cms/Prod/Images/Live/jeunesse_recipe_healthy_flat_pancakes_en-US.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 2-3 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 100g plain flour</h3>
        <h3>- 2 large eggs</h3>
        <h3>- 300ml milk</h3>
        <h3>- 1 tbsp sunflower or vegetable oil (a little extra for<br>&nbsp;&nbsp;&nbsp;frying)</h3>
        <h3>- lemon wedges (to serve), optional</h3>
        <h3>- caster sugar (to serve), optional</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Put 100g plain flour, 2 large eggs, 300ml milk, 1<br>&nbsp;&nbsp;&nbsp;&nbsp;tbsp sunflower or vegetable oil and a pinch of salt<br>&nbsp;&nbsp;&nbsp;&nbsp;into a bowl then whisk to a smooth batter.</h3>
        <h3>2. Set aside for 30 mins to rest if you have time, or<br>&nbsp;&nbsp;&nbsp;&nbsp;start cooking straight away.</h3>
        <h3>3. Set a medium frying pan over a medium heat and<br>&nbsp;&nbsp;&nbsp;&nbsp;carefully wipe it with some oiled kitchen paper.</h3>
        <h3>4. When hot, cook your pancakes for 1 min on each<br>&nbsp;&nbsp;&nbsp;&nbsp;side until golden, keeping them warm in a low<br>&nbsp;&nbsp;&nbsp;&nbsp;oven as you go.</h3>
        <h3>5. Serve with lemon wedges and caster sugar, or your<br>&nbsp;&nbsp;&nbsp;&nbsp;favorite filling.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
  <ion-button expand="block">Add to Favorites</ion-button>
</ion-content>