<ion-content>
  <ion-header>
    <div id="title">
      <b>Bloody Mary</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://img.taste.com.au/Ag49zNa_/taste/2019/09/tokyo-bloody-mary-152754-1.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 2 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- large handful of ice</h3>
        <h3>- 100ml vodka</h3>
        <h3>- 500ml tomato juice</h3>
        <h3>- 1 tbsp lemon juice, plus 2 slices (to serve)</h3>
        <h3>- few shakes Worcestershire sauce</h3>
        <h3>- few shakes Tabasco (smoked Tabasco is nice)</h3>
        <h3>- pinch celery salt</h3>
        <h3>- pinch black pepper</h3>
        <h3>- 2 celery sticks (to serve)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Place the ice in a large jug. Measure the vodka,<br>&nbsp;&nbsp;&nbsp;&nbsp;tomato juice and lemon juice and pour it straight<br>&nbsp;&nbsp;&nbsp;&nbsp;onto the ice.</h3>
        <h3>2. Add 3 shakes of Worcestershire sauce and<br>&nbsp;&nbsp;&nbsp;&nbsp;Tabasco (or more if you like it very spicy) and a<br>&nbsp;&nbsp;&nbsp;&nbsp;pinch of celery, salt and pepper. Stir until the<br>&nbsp;&nbsp;&nbsp;&nbsp;outside of the jug feels cold, then strain the<br>&nbsp;&nbsp;&nbsp;&nbsp;cocktail into 2 tall glasses.</h3>
        <h3>3. Top up with fresh ice, add a celery stick and<br>&nbsp;&nbsp;&nbsp;&nbsp;lemon slice to both glasses and enjoy.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>