<ion-content>
  <ion-header>
    <div id="title">
      <b>Chocolate Chip Cookie</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://www.kingarthurbaking.com/sites/default/files/recipe_legacy/6-3-large.jpg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 6-8 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1 cup butter (softened)</h3>
        <h3>- 1 cup white sugar</h3>
        <h3>- 1 cup packed brown sugar</h3>
        <h3>- 2 eggs</h3>
        <h3>- 2 tsp vanilla extract</h3>
        <h3>- 1 tsp baking soda</h3>
        <h3>- 2 tsp hot water</h3>
        <h3>- 0.5 tsp salt</h3>
        <h3>- 3 cups all-purpose flour</h3>
        <h3>- 2 cups semisweet chocolate chips</h3>
        <h3>- 1 cup chopped walnuts</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Preheat oven to 350 degrees F (175 degrees C).</h3>
        <h3>2. Cream together the butter, white sugar, and brown<br>&nbsp;&nbsp;&nbsp;&nbsp;sugar until smooth. Beat in the eggs one at a time,<br>&nbsp;&nbsp;&nbsp;&nbsp;then stir in the vanilla. Dissolve baking soda in hot<br>&nbsp;&nbsp;&nbsp;&nbsp;water. Add to batter along with salt. Stir in flour,<br>&nbsp;&nbsp;&nbsp;&nbsp;chocolate chips, and nuts. Drop by large spoonfuls<br>&nbsp;&nbsp;&nbsp;&nbsp;onto ungreased pans.</h3>
        <h3>3. Bake for about 10 minutes in the preheated oven,<br>&nbsp;&nbsp;&nbsp;&nbsp;or until edges are nicely browned.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
  <ion-button expand="block">Add to Favorites</ion-button>
</ion-content>