<ion-content>
  <ion-header>
    <div id="title">
      <b>Butter Chicken</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://img.taste.com.au/AbiWkcA0/taste/2016/11/easy-butter-chicken-74432-1.jpeg">
    
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 3-4 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 500g skinless boneless chicken thigh<br><br></h3>
        <h3><b>For the marinade:</b></h3>
        <h3>- 1 lemon (juiced)</h3>
        <h3>- 2 tsp ground cumin</h3>
        <h3>- 2 tsp paprika</h3>
        <h3>- 1-2 tsp hot chili powder</h3>
        <h3>- 200g natural yoghurt<br><br></h3>
        <h3><b>For the curry</b></h3>
        <h3>- 2 tbsp vegetable oil</h3>
        <h3>- 1 large onion (chopped)</h3>
        <h3>- 3 garlic cloves (crushed)</h3>
        <h3>- 1 green chili</h3>
        <h3>- thumb-sized piece ginger (grated)</h3>
        <h3>- 1 tsp garam masala</h3>
        <h3>- 2 tsp ground fenugreek</h3>
        <h3>- 3 tbsp tomato puree</h3>
        <h3>- 300ml chicken stock</h3>
        <h3>- 50g flaked almonds (toasted)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. In a medium bowl, mix all the marinade<br>&nbsp;&nbsp;&nbsp;&nbsp;ingredients with some seasoning. Chop the<br>&nbsp;&nbsp;&nbsp;&nbsp;chicken into bite-sized pieces and toss with the<br>&nbsp;&nbsp;&nbsp;&nbsp;marinade. Cover and chill in the fridge for 1 hr or<br>&nbsp;&nbsp;&nbsp;&nbsp;overnight.</h3>
        <h3>2. In a large, heavy saucepan, heat the oil. Add the<br>&nbsp;&nbsp;&nbsp;&nbsp;onion, garlic, green chili, ginger and some<br>&nbsp;&nbsp;&nbsp;&nbsp;seasoning. Fry on a medium heat for 10 mins.</h3>
        <h3>3. Add the spices with the tomato puree, cook for a<br>&nbsp;&nbsp;&nbsp;&nbsp;further 2 mins until fragrant, then add the stock and<br>&nbsp;&nbsp;&nbsp;&nbsp;marinated chicken. Cook for 15 mins, then add any<br>&nbsp;&nbsp;&nbsp;&nbsp;remaining marinade left in the bowl. Simmer for 5<br>&nbsp;&nbsp;&nbsp;&nbsp;mins, then sprinkle with the toasted almonds.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>