<ion-content>
  <ion-header>
    <div id="title">
      <b>Pumpkin Pie</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://www.onceuponachef.com/images/2015/11/Perfect-Pumpkin-Pie4.jpg">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 8 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 15 oz can pumpkin</h3>
        <h3>- 14 oz can EAGLE BRAND Sweetened Condensed<br>&nbsp;&nbsp;&nbsp;Milk</h3>
        <h3>- 2 large eggs</h3>
        <h3>- 1 tsp ground cinnamon</h3>
        <h3>- 0.5 tsp ground ginger</h3>
        <h3>- 0.5 tsp ground nutmeg</h3>
        <h3>- 0.5 tsp salt</h3>
        <h3>- 1 (9 inch) unbaked pie crust</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Preheat oven to 425 degrees F. Whisk pumpkin,<br>&nbsp;&nbsp;&nbsp;&nbsp;sweetened condensed milk, eggs, spices and salt<br>&nbsp;&nbsp;&nbsp;&nbsp;in medium bowl until smooth. Pour into crust. Bake<br>&nbsp;&nbsp;&nbsp;&nbsp;for 15 minutes. </h3>
        <h3>2. Reduce oven temperature to 350 degrees F and<br>&nbsp;&nbsp;&nbsp;&nbsp;continue baking 35 to 40 minutes or until knife<br>&nbsp;&nbsp;&nbsp;&nbsp;inserted 1 inch from crust comes out clean. Cool.<br>&nbsp;&nbsp;&nbsp;&nbsp;Garnish as desired. Store leftovers covered in<br>&nbsp;&nbsp;&nbsp;&nbsp;refrigerator.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
</ion-content>