#welcomeTitle {
    padding-top: 45px;
    padding-right: 35px;
    padding-left: 50px;
}

#titleFont {
    font-size: 25px;
}

img {
    border-radius: 50%;
    height: 65px;
    object-position: center;
    object-fit: cover;
}

#personalInfo {
    padding-top: 70px;
    padding-left: 245px;
}

#account {
    padding-top: 5px;
    padding-left: 282px;
}

#manageRecipe {
    padding-top: 5px;
    padding-left: 187px;
}

#help {
    padding-top: 5px;
    padding-left: 279px;
}

#settings {
    padding-top: 15px;
    padding-left: 284px;
    padding-bottom: 78px;
}

#profile {
    padding-top: 9px;
}