<ion-content>
  <ion-grid>
    <div id = "welcomeTitle">
    <ion-row class = "ion-justify-content-between">
      <ion-col size = "6" class = "ion-align-self-center">
        <div id = "titleFont">
        <b>
          Welcome, Jane
        </b>
        </div>
      </ion-col>
      <ion-col  size = "3" class = "ion-align-self-center">
        <div id="profile">
          <img src= "https://ichef.bbci.co.uk/food/ic/food_16x9_832/chefs/nigella_lawson_16x9.jpg">
        </div>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>
  <ion-list>
    <ion-item>
      <a id = "personalInfo">
          <ion-label>Personal Info</ion-label>
      </a>
     </ion-item>
    <ion-item>
      <a id = "account">
        <ion-label>Account</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a id = "manageRecipe">
        <ion-label>Manage Your Recipes</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a id = "help">
        <ion-label>Get Help</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a id = "settings">
        <ion-label>Settings</ion-label>
      </a>
    </ion-item>
  </ion-list>
  <ion-button expand="block">Language: English</ion-button>
  <ion-button expand="block" (click)="login()">Log Out</ion-button>
</ion-content>
