<ion-content>
  <ion-header>
    <div id="title">
      <b>Cosmopolitan</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/fresh-home-made-cosmopolitan-cosmo-cocktails-royalty-free-image-1581775159.jpg">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 1 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 45ml lemon vodka</h3>
        <h3>- 15ml triple sec</h3>
        <h3>- 30ml cranberry juice</h3>
        <h3>- 10ml lime juice</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Shake ingredients in a cocktail shaker with ice<br>&nbsp;&nbsp;&nbsp;&nbsp;and strain into a cocktail glass.</h3>
        <h3>2. To make the garnish: hold a 3cm round piece of<br>&nbsp;&nbsp;&nbsp;&nbsp;orange zest about 10cm above your cosmo and<br>&nbsp;&nbsp;&nbsp;&nbsp;very carefully wave it over a lit match or lighter<br>&nbsp;&nbsp;&nbsp;&nbsp;flame. Bend the outer edge of the zest in towards<br>&nbsp;&nbsp;&nbsp;&nbsp;the flame so that the orange oils are released,<br>&nbsp;&nbsp;&nbsp;&nbsp;then drop the zest into your drink.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="button">
  <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
  <ion-button expand="block">Add to Favorites</ion-button>
  </div>
</ion-content>