<ion-content>
  <ion-header>
    <div id="title">
      <b>Negroni</b>
    </div>
  </ion-header>
  <ion-card>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/negroni-1562327392.jpg">
  </ion-card>
  <ion-list>
    <ion-list-header>
      <div id="ingredients">
        Ingredients (Serving: 1 people):
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>- 1 oz gin</h3>
        <h3>- 1 oz Campari</h3>
        <h3>- 1 oz sweet vermouth</h3>
        <h3>- orange peel (garnish)</h3>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <div id="ingredients">
        Instructions:
      </div>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>1. Add all the ingredients into a mixing glass with ice,<br>&nbsp;&nbsp;&nbsp;&nbsp;and stir until well-chilled.</h3>
        <h3>2. Strain into a rocks glass filled with large ice cubes.</h3>
        <h3>3. Garnish with an orange peel.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="button">
    <ion-button expand="block" (click)="tab1()">Return to Home</ion-button>
    <ion-button expand="block">Add to Favorites</ion-button>
  </div>
</ion-content>